COUNTRY_SHP=data/ne_50m_admin_0_countries/ne_50m_admin_0_countries.shp
COUNTRY_LOOKUP_TOLERANCE_DEG=0.10
COUNTRY_NEAREST_BLACKLIST=
COUNTRY_BOUNDARY_FILE=/data/geoboundaries/geoBoundariesCGAZ_ADM0.gpkg
COUNTRY_BOUNDARY_FORMAT=geopackage
LOG_LEVEL=INFO