__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.egg-info/
.eggs/
build/
dist/

.pytest_cache/
.ruff_cache/

.env

*.pyc
data/*.shp
data/*.shx
data/*.dbf
data/*.prj
data/*.cpg
data/ne_*/
data/geoboundaries/
*.gpkg
.pytest_cache/